# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# GIS Data (Avoid uploading large binaries)
data/raw/BAJEL.jp2
data/processed/*.tif
outputs/figures/*.png

# Keep HTML figures (interactive – useful for GitHub preview)
!outputs/figures/*.html

# Environments
.env

# OS
.DS_Store
Thumbs.db
